<h2 class="heading"> Contact Us </h2>

<h4 class="contact">
	
	<b>Open:</b>
	
	<table class="contact_table">
		<tr><td> Monday - Friday: </td> <td> 1 am - 3 am EST </td></tr>
		<tr><td> Saturday: </td> <td> 2 am - 5 am EST </td></tr>
		<tr><td> Sunday: </td> <td> 9 am - 5 pm EST </td></tr>
	</table><br>
	
	<b>Business inquiries:</b>
	
	<table class="contact_table">
		<tr><td> Phone: </td> <td> 1-555-554-4445 </td></tr>
		<tr><td> Email: </td> <td> contact@b1_pidgeon_factory.com </td></tr>
		<tr><td> Address: </td> <td> 123 Plant St., Antarctica </td></tr>
	</table><br>
	
	<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2005.3973540626616!2d-105.67020977261635!3d33.33134308374742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spizza!5e1!3m2!1sen!2sca!4v1432741207480" width="400" height="300" frameborder="0" style="border:0"></iframe>
</h4>